body{
    background-color: #daf3ff;
}



@media screen and (min-device-width:698px) {
  div#showgrid {
    width: 698px;
    margin: auto;
  }
}

.row {
  width: 100%;
  margin: auto;
}

@media (min-device-width: 698px) {
  .column {
    width: 230px;
    height: 230px;
    display: inline;
    float: left;
  }
}

.column {
  width: 230px;
  height: 230px;
  margin: auto;
  
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    margin-left: 40%;
}

img {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}


.hashtag{
    font-family: 'Indie Flower', cursive;
    text-align: right;
    margin-right: 3%;
}